@import "~styles/_variables.scss";
.category-card-wrapper {
  width: 25%;
  background: $white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid $border-color;
  font-family: "Lato";
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 0 $text-gray;
  }

  .category-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    max-width: 100%;

    .category-title {
      padding-top: 10px;
      font-size: $text-lg;
      font-weight: bold;
      color: $text-black;
      width: 100%;
    }
    .icon {
      margin: 15px;
    }
    .articles {
      font-size: $text-sm;
      color: $green;
      width: 100%;
    }
    .lastUpdate {
      font-size: $text-xs;
      color: $text-gray;
      width: 100%;
    }
    .description {
      font-size: $text-sm;
      color: $text-gray;
      line-height: 18px;
      width: 100%;
    }
  }

  @media only screen and (max-width: 1200px) {
    width: 30%;
  }

  @media only screen and (max-width: 900px) {
    width: 40%;
  }

  @media only screen and (max-width: 750px) {
    width: 48%;
  }

  @media only screen and (max-width: 425px) {
    width: 100%;
  }
}
