@import "~styles/_variables.scss";
input {
  padding: 10px 15px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: $text-md;
  font-weight: 400;

  &::placeholder {
    color: $text-gray;
  }
}
