$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$white: #ffffff;
$text-black: #373737;
$text-gray: #9C9AA6;
$text-bg: #fafafa;
$border-color: #eeeeee;
$text-xs: 11px;
$text-sm: 13px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 34px;